<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
  <meta charset="UTF-8">
  <title>Human Resource Management System</title>
</head>
<body>
<div class="container my-2">
  <a th:href="@{/}">Back to Home</a>
  <h1>Benefit List</h1>

  <!-- Filter Form -->
  <form th:action="@{/filterBenefits}" method="post" class="mb-3">
    <div class="row">
      <div class="col">
        <label for="coverageType" class="form-label">Coverage Type:</label>
        <select class="form-select" id="coverageType" name="coverageType">
          <option value="">-- Any Type --</option>
          <option th:each="coverageType : ${T(com.example.group1hrmsapp.model.CoverageType).values()}"
                  th:value="${coverageType.name()}" th:text="${coverageType.name()}"></option>
        </select>
      </div>
      <div class="col">
        <label for="benefitName" class="form-label">Benefit Name:</label>
        <input type="text" class="form-control" id="benefitName" name="benefitName">
      </div>
      <div class="col">
        <label for="benefitCost" class="form-label">Cost:</label>
        <input type="text" class="form-control" id="benefitCost" name="benefitCost">
      </div>
      <div class="col">
        <label for="coverageProvider" class="form-label">Coverage Provider:</label>
        <select class="form-select" id="coverageProvider" name="coverageProvider">
          <option value="">-- Any Provider --</option>
          <option th:each="provider : ${T(com.example.group1hrmsapp.model.CoverageProvider).values()}"
                  th:value="${provider.name()}" th:text="${provider.name()}"></option>
        </select>
      </div>

      <!-- Add More Filter Fields As Necessary  -->
    </div>
    <div class="row mt-3">
      <div class="col">
        <!-- Add More Filter Fields As Necessary  -->
      </div>
      <div class="col">
        <button type="submit" class="btn btn-primary mt-4">Apply Filters</button>
        <a th:href="@{/clearBenefitsFilters}" class="btn btn-secondary mt-4">Clear Filters</a>

      </div>
    </div>
  </form>

  <!-- Time Off Request Table -->
  <table class="table table-striped table-responsive-md">
    <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Description</th>
      <th>Coverage Type</th>
      <th>Cost Per Paycheck</th>
      <th>Coverage Provider</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="benefit: ${listBenefits}">
      <td th:text="${benefit.id}"></td>
      <td th:text="${benefit.benefitName}"></td>
      <td><span th:text="${#strings.substring(benefit.benefitDesc, 0, 42)}"></span>...</td>
      <td th:text="${benefit.coverageType}"></td>
      <td th:text="${benefit.benefitCost}"></td>
      <td th:text="${benefit.coverageProvider}"></td>
      <td>
        <div class="mb-2">
        <a th:href="@{/benefitDisplay/{benefitId}(benefitId=${benefit.id})}"
           class="btn btn-primary">Info</a>
        <a th:href="@{/enrollInBenefit/{benefitId}(benefitId=${benefit.id})}"
           class="btn btn-primary">Enroll</a>
        </div>
        <div>
        <a th:href="@{/withdrawFromBenefit/{benefitId}(benefitId=${benefit.id})}"
           class="btn btn-danger">Withdraw</a>
        <a th:if="${loggedInEmployee.getSpecialType().toString() == 'HR'}"
           th:href="@{/deleteBenefit/{id}(id=${benefit.id})}" class="btn btn-danger">Delete</a>
        </div>
      </td>
    </tr>
    </tbody>
  </table>

  <!-- Pagination Links -->
  <nav aria-label="Page navigation" th:if="${totalPages > 0}">
    <ul class="pagination justify-content-center">
      <li class="page-item" th:classappend="${currentPage == 1} ? disabled">
        <a class="page-link"
           th:href="@{/requestPage/1(size=${totalItems}, sortField=${sortField}, sortDir=${sortDir})}"
           tabindex="-1">First</a>
      </li>
      <li class="page-item" th:classappend="${currentPage == 1} ? disabled">
        <a class="page-link"
           th:if="${currentPage > 1}"
           th:href="@{/requestPage/(pageNo=${currentPage - 1}, size=${totalItems}, sortField=${sortField}, sortDir=${sortDir})}"
           tabindex="-1">Previous</a>
      </li>
      <li class="page-item" th:each="pageNumber : ${#numbers.sequence(1, totalPages)}">
        <a class="page-link"
           th:href="@{/requestPage/(pageNo=${pageNumber}, size=${totalItems}, sortField=${sortField}, sortDir=${sortDir})}"
           th:classappend="${pageNumber == currentPage} ? active" th:text="${pageNumber}"></a>
      </li>
      <li class="page-item" th:classappend="${currentPage == totalPages} ? disabled">
        <a class="page-link"
           th:if="${currentPage < totalPages}"
           th:href="@{/requestPage/(pageNo=${currentPage + 1}, size=${totalItems}, sortField=${sortField}, sortDir=${sortDir})}">Next</a>
      </li>
      <li class="page-item" th:classappend="${currentPage == totalPages} ? disabled">
        <a class="page-link"
           th:href="@{/requestPage/(pageNo=${totalPages}, size=${totalItems}, sortField=${sortField}, sortDir=${sortDir})}">Last</a>
      </li>
    </ul>
  </nav>



  <a th:if="${loggedInEmployee.getSpecialType().toString() == 'HR'}"
     th:href="@{/showBenefitsForm}" class="btn btn-primary btn-sm">Create New Benefit</a>
</div>
</body>
</html>
