<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Change Password</title>
</head>
<body>
<h1>Change Password</h1>

<div>
  <p>Password must meet the following requirements:</p>
  <ul>
    <li>At least 8 characters in length</li>
    <li>Contain at least 1 uppercase letter</li>
    <li>Contain at least 1 lowercase letter</li>
    <li>Contain at least 1 special symbol (@ $ ! % * ? &)</li>
  </ul>
</div>

<form action="/changePassword" method="post">
  <label for="currentPassword">Current Password:</label>
  <input type="password" id="currentPassword" name="currentPassword" required>
  <br>
  <label for="newPassword">New Password:</label>
  <input type="password" id="newPassword" name="newPassword" required>
  <br>
  <label for="confirmPassword">Confirm Password:</label>
  <input type="password" id="confirmPassword" name="confirmPassword" required>
  <br>
  <input type="submit" value="Change Password">
</form>
<div th:if="${error}">
  <p>Error: [[${error}]]</p>
</div>
</body>
</html>
