<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="1" class = "table table-striped table-responsive-md">
    <thead>
    <tr>
        <th>Employee List</th>
        <th>Employee Email</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${listEmployees}">
        <td th:text="${employee.firstName}"></td>
        <td th:text="${employee.email}"></td>
        <td>
            <a th:href="@{/showUserFormForUpdate/{id}(id=${employee.sid})}" class="btn btn-primary">Update or Add Users</a>
            <a th:href="@{/deleteUser/{id}(id=${employee.sid})}" class="btn btn-danger">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
<button th:href = "@{/}"> Back to User List</button>
</body>
</html>
