<!DOCTYPE html>
<html xmlns:th="http://www.thyemelaf.org">
<head>
  <meta charset="UTF-8"/>
  <title th:utext="${title}"></title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>

</head>
<body>
<div class="container">
  <div class="container-fluid">
    <div class="page-header">
      <h3 th:utext="${title}"></h3>
    </div>
    <form action="#"
          th:action="@{/student/addCourseStudent/}+${student.sid}+@{/course}"
          enctype="multipart/form-data">
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">Data Student Info</div>
          <div class="panel-body" style="padding-left: 5px;">
            Name : <b th:utext="${student.studName}"></b>
            <br/>

            Email : <b th:utext="${student.studEmail}"></b>
            <br/>
            Course : <span th:each="course : ${student.courses}">
                            <br/>&nbsp;&nbsp;<b th:utext="${course.courserName}"></b>
                        </span>
          </div>
        </div>
        <div class="col-md-6">
          <select class="form-control" name="courseId">
            <option th:each="course : ${courses}"
                    th:value="${course.courseId}"
                    th:text="${course.courserName}"></option>
          </select>
        </div>
      </div>
      <br/>
      <button type="submit" class="btn btn-primary">
        Add Course
      </button>
    </form>
  </div>
</div>
</body>
</html>