<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
  <meta charset="UTF-8">
  <title>Human Resource Management System</title>
</head>
<body>
<div class="container my-2">
  <a th:href="@{/}">Back to Home</a>
  <h1>Time Off Request List</h1>

  <!-- Filter Form -->
  <form th:action="@{/filterTimeOffRequests}" method="post" class="mb-3">
    <div class="row">
      <div class="col">
        <label for="startDate" class="form-label">Start Date:</label>
        <input type="date" class="form-control" id="startDate" name="startDate">
      </div>
      <div class="col">
        <label for="endDate" class="form-label">End Date:</label>
        <input type="date" class="form-control" id="endDate" name="endDate">
      </div>
      <div class="col">
        <label for="timeOffType" class="form-label">Time Off Type:</label>
        <select class="form-select" id="timeOffType" name="timeOffType">
          <option value="">All</option>
          <th:block th:each="type : ${T(com.example.group1hrmsapp.model.TimeOffType).values()}">
            <option th:value="${type.name()}" th:text="${type.name()}"></option>
          </th:block>
        </select>
      </div>

      <div class="col">
        <label for="timeOffStatus" class="form-label">Time Off Status:</label>
        <select class="form-select" id="timeOffStatus" name="timeOffStatus">
          <option value="">All</option>
          <th:block th:each="status : ${T(com.example.group1hrmsapp.model.TimeOffStatus).values()}">
            <option th:value="${status.name()}" th:text="${status.name()}"></option>
          </th:block>
        </select>
      </div>

      <!-- Add More Filter Fields As Necessary  -->
    </div>
    <div class="row mt-3">
      <div class="col">
        <!-- Add More Filter Fields As Necessary  -->
      </div>
      <div class="col">
        <button type="submit" class="btn btn-primary mt-4">Apply Filters</button>
      </div>
    </div>
  </form>

  <!-- Time Off Request Table -->
  <table class="table table-striped table-responsive-md">
    <thead>
    <tr>
      <th>Request ID</th>
      <th>Employee Name</th>
      <th>Request Date</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Duration</th>
      <th>Request Type</th>
      <th>Approver(s) ID</th>
      <th>Request Status</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="request: ${listTimeOffRequests}">
      <td th:text="${request.id}"></td>
      <td th:text="${request.employee.getFullName()}"></td>
      <td th:text="${request.requestDate}"></td>
      <td th:text="${request.startDate}"></td>
      <td th:text="${request.endDate}"></td>
      <td th:text="${request.duration}"></td>
      <td th:text="${request.timeOffType}"></td>
      <td th:if="${request.approver == null || request.approver.isEmpty()}">N/A</td>
      <td th:if="${request.approver != null && !request.approver.isEmpty()}" th:text="${request.approver}"></td>
      <td th:text="${request.timeOffStatus}"></td>
      <td>
        <a th:href="@{/approve/{requestId}/{managerId}(requestId=${request.id}, managerId=${request.approver})}"
           class="btn btn-primary">Approve</a>
        <a th:href="@{/reject/{requestId}/{managerId}(requestId=${request.id}, managerId=${request.approver})}"
           class="btn btn-danger">Reject</a>

        <a th:href="@{/cancelRequest/{requestId}(requestId=${request.id})}" class="btn btn-danger">Cancel</a>
      </td>
    </tr>
    </tbody>
  </table>

  <!-- Pagination Links -->
  <nav aria-label="Page navigation" th:if="${totalPages > 0}">
    <ul class="pagination justify-content-center">
      <li class="page-item" th:classappend="${currentPage == 1} ? disabled">
        <a class="page-link"
           th:href="@{/requestPage/1(size=${totalItems}, sortField=${sortField}, sortDir=${sortDir})}"
           tabindex="-1">First</a>
      </li>
      <li class="page-item" th:classappend="${currentPage == 1} ? disabled">
        <a class="page-link"
           th:if="${currentPage > 1}"
           th:href="@{/requestPage/(pageNo=${currentPage - 1}, size=${totalItems}, sortField=${sortField}, sortDir=${sortDir})}"
           tabindex="-1">Previous</a>
      </li>
      <li class="page-item" th:each="pageNumber : ${#numbers.sequence(1, totalPages)}">
        <a class="page-link"
           th:href="@{/requestPage/(pageNo=${pageNumber}, size=${totalItems}, sortField=${sortField}, sortDir=${sortDir})}"
           th:classappend="${pageNumber == currentPage} ? active">${pageNumber}</a>
      </li>
      <li class="page-item" th:classappend="${currentPage == totalPages} ? disabled">
        <a class="page-link"
           th:if="${currentPage < totalPages}"
           th:href="@{/requestPage/(pageNo=${currentPage + 1}, size=${totalItems}, sortField=${sortField}, sortDir=${sortDir})}">Next</a>
      </li>
      <li class="page-item" th:classappend="${currentPage == totalPages} ? disabled">
        <a class="page-link"
           th:href="@{/requestPage/(pageNo=${totalPages}, size=${totalItems}, sortField=${sortField}, sortDir=${sortDir})}">Last</a>
      </li>
    </ul>
  </nav>


  <a th:href="@{/showTimeOffRequestForm}" class="btn btn-primary btn-sm">Create Request</a>
</div>
</body>
</html>
