<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="ISO-8859-1">
  <title>Human Resource Management System</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
</head>
<body>
<div class="container">
  <a th:href = "@{/}"> Back to Home</a>
  <h1>Human Resource Management System</h1>
  <hr>
  <h2>Update Employee</h2>

  <form action="#" th:action="@{/saveEmployee}" th:object="${employee}"
        method="POST">

    <!-- Add hidden form field to handle update -->
    <input type="hidden" th:field="*{id}" />

    <label>Special Type:</label>
    <select th:field="*{specialType}" class="form-control mb-4 col-4" required>
      <option th:each="type : ${T(com.example.group1hrmsapp.model.SpecialType).values()}"
              th:value="${type.name()}" th:text="${type}" th:selected="${type == employee.specialType}"></option>
    </select>


    <input type="text" th:field="*{firstName}"
           placeholder="Employee First Name" class="form-control mb-4 col-4">

    <input type="text" th:field="*{lastName}"
           placeholder="Employee Last Name" class="form-control mb-4 col-4">

    <input type="text" th:field="*{dateOfBirth}"
           placeholder="Employee Date of Birth" class="form-control mb-4 col-4">

    <label for="gender">Gender:</label>
    <select id="gender" th:field="*{gender}" class="form-control mb-4 col-4" required>
      <option value="Male">Male</option>
      <option value="Female">Female</option>
      <option value="Other">Other</option>
    </select>

    <input type="text" th:field="*{phoneNumber}"
           placeholder="Employee Phone Number" class="form-control mb-4 col-4">

    <input type="text" th:field="*{email}"
           placeholder="Employee Email" class="form-control mb-4 col-4">

    <input type="text" th:field="*{address}"
           placeholder="Employee Address" class="form-control mb-4 col-4">

    <input type="text" th:field="*{jobTitle}"
           placeholder="Employee Job Title" class="form-control mb-4 col-4">

    <input type="text" th:field="*{department}"
           placeholder="Employee Department" class="form-control mb-4 col-4">

    <label for="manager">Manager:</label>
    <select id="manager" th:field="*{manager}" class="form-control mb-4 col-4">
      <option value=""></option>
      <option th:each="manager : ${managers}" th:value="${manager.id}" th:text="${manager.firstName} + ' ' + ${manager.lastName}"></option>
    </select>

    <label for="employmentType">Employment Type:</label>
    <select id="employmentType" th:field="*{employmentType}" class="form-control mb-4 col-4" required>
      <option value="Full-Time">Full-Time</option>
      <option value="Part-Time">Part-Time</option>
      <option value="Other">Other</option>
    </select>

    <label>Employee Hourly Rate:</label>
    <input type="text" th:field="*{hourlyRate}"
           placeholder="Employee HourlyRate" class="form-control mb-4 col-4">

    <label>Employee Vacation Time Entitled:</label>
    <input type="text" th:field="*{vacationTime}"
           placeholder="Employee Vacation Time Entitled" class="form-control mb-4 col-4">

    <label>Employee Sick Time Entitled:</label>
    <input type="text" th:field="*{sickTime}"
           placeholder="Employee Sick Time Entitled" class="form-control mb-4 col-4">

    <label>Employee Paid Time Off Entitled:</label>
    <input type="text" th:field="*{paidTimeOff}"
           placeholder="Employee Paid Time Off Entitled" class="form-control mb-4 col-4">

    <div class="form-check mb-4">
      <input class="form-check-input" type="checkbox" id="enrolledInBenefits" th:field="*{enrolledInBenefits}">
      <label class="form-check-label" for="enrolledInBenefits">
        Is Employee Enrolled In Benefits?
      </label>
    </div>


    <button type="submit" class="btn btn-info col-2"> Update Employee</button>
  </form>

  <hr>
</div>
</body>
</html>