<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
  <meta charset="UTF-8">
  <title>Human Resource Management System</title>
</head>
<body>
<div class="container">
  <h1>Update Module</h1>

  <form id="myForm" action="#" th:action="@{/updateTrainingModule}" th:object="${trainingModule}" method="POST">

    <div class="col">
      <div class="mt-4">
        <!-- Add hidden form field to handle update -->
        <input type="hidden" th:field="*{id}" />

        <label for="moduleName" class="form-label">Module Name:</label>
        <input type="text" id="moduleName" th:field="*{moduleName}"
               class="form-control mb-4 col-4" required>

        <label for="moduleInfo" class="form-label">Module Information:</label>
        <textarea id="moduleInfo" th:field="*{moduleInfo}"
                  class="form-control mb-4 col-4" rows="4" required></textarea>

        <button type="submit" class="btn btn-info col-2">Save</button>
        <a href="#" th:href="@{/trainingsList}" class="btn btn-danger col-2 ml-2">Cancel</a>
      </div>
    </div>
  </form>
</div>
</body>
</html>
