<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="ISO-8859-1">
  <title>Course Management System</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
</head>
<body>
<div class="container">
  <h1>Student Management System</h1>
  <hr>
  <h2>Update Student</h2>
  <!--    th:action="@{/student/addCourseStudent/}+${student.studentId}+@{/course}"-->
  <form action="#" th:action="@{/saveStudent}" th:object="${student}"
        method="POST">

    <!-- Add hidden form field to handle update -->
    <input type="hidden" th:field="*{sid}" />

    <input type="text" th:field="*{userName}" class="form-control mb-4 col-4">

    <input type="text" th:field="*{userEmail}" class="form-control mb-4 col-4">

    <div class="col-lg-3" >

      <br></br>
      <li th:each="course : ${courses}"><input th:field="*{course}"
                                               th:text="${course}" th:value="${course.id}"
                                               type="checkbox"/></li>
      </td>
    </div>
    <div class="col-lg-3" >
      <select class="form-control"  id="Select Course" th:field="*{courses}" multiple="multiple">
        <option value="">Select Course(s) .....</option>
        <option th:each="coursea : ${allCourses}"
                th:value="${coursea.id}"
                th:text="${coursea.courseName} "></option>
      </select>
    </div>
    <button type="submit" class="btn btn-info col-2"> Update Student</button>
  </form>

  <!--    <div class="col-lg-3" th:object="${course}">-->
  <!--<div class="form-group">
      <label for="category">Category</label>
      <select id="category" class="form-control" th:field="*{courses}" multiple="multiple">-->

  <!--<div class="form-group">
&lt;!&ndash;        <label for="course">Course</label>&ndash;&gt;
      <select id="course" class="form-control" th:field="*{courses}" multiple="multiple">
          <option th:each="course : ${courses}"
                  th:text="${course.name}"
                  th:value="${course.id}"
                th:selected="${student.course.contains(course)}"
          >

          </option>
      </select>
  </div>-->
  <!--<div class="form-group blu-margin">
      <select class="form-control" th:field="${course.id}"  id="dropOperator">
          <option value="0">select operator</option>
          <option th:each="course : ${courses}" th:value="${course.id}" th:text="${course.name}"></option>
      </select>
  </div>-->
  <!--<div class="form-group col-md-8">
      <label  class="col-form-label">Course </label>
      <select  id="id" name="courses" th:field="*{id}" >
          <option th:each="course : ${courses}" th:value="${id}" th:utext="${name}"></option>
      </select>
  </div>-->
  <hr>

  <a th:href = "@{/}"> Back to User List</a>
</div>
</body>
</html>